*/.DS_Store
.DS_Store
.Rproj.user/*
.Rproj.user
_screen_cap_to_GIF.sh
.Rhistory

.Rproj.user/139A57E5/sdb/prop/BA0A5BF4

.Rproj.user/139A57E5/sdb/prop/DA9BBA70

.Rproj.user/139A57E5/sdb/prop/F7F01F5D
